@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.box {
  @include flex-center;
  background-color: $lightPrimary;
  padding: 3rem;
  max-width: 7rem;
  box-shadow: 2px 4px 12px rgba(39, 38, 38, 0.2);
  border-radius: 0.5rem;

  span {
    text-transform: uppercase;
    color: $darkPrimary;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
}
